<!DOCTYPE html>
<html>
{% load static %}
<head>
<title>EuroCarga</title>
<link rel="icon" type="image/x-icon" href="{% static 'mainsite/images/favicon.ico' %}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="{% static 'mainsite/css/styles.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>

body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {

  min-height: 100%;
}


/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("{% static 'mainsite/images/trucks-background.jpg' %}");
  min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("{% static 'mainsite/images/ship-background.jpg' %}");
  min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}


</style>
</head>
<body style="background-color:#FFFFFF">


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <a href="https://api.whatsapp.com/send?phone=573227381279&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n." class="float" target="_blank">
  <i class="fa fa-whatsapp my-float"></i>
  </a>


<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar" id="myNavbar">
    <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu" id="myNavbar"></a>
      
    </a>
    <a href="{% url 'index' %}" class="w3-bar-item w3-button"><img src = "{% static 'mainsite/images/logo-noback.png' %}" width="100  " style="opacity:0;" id="toplogo" /></a>
    <div id="menu" style="color:white">
      <a href="{% url 'index' %}" class="w3-bar-item w3-button" style = "padding: 1em;"><b>HOME</b></a>
      <a href="{% url 'about' %}" class="w3-bar-item w3-button w3-hide-small" style = "padding: 1em;"> <b>QUIENES SOMOS</b></a>
      <a href="#oficinas" class="w3-bar-item w3-button w3-hide-small" style = "padding: 1em;"> <b>OFICINAS</b></a>
      
      <div class="w3-dropdown-hover w3-hide-small">
        <a href="{% url 'services' %}" class="w3-button w3-hide-small w3-button" style = "padding: 1em;"><b>SERVICIOS</b> <i class="fa fa-caret-down"></i></a>     
          <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <a href="#imports" class="w3-bar-item w3-button" >TRANSPORTE AÉREO</a>
            <a href="#exports" class="w3-bar-item w3-button">TRANSPORTE TERRESTRE</a>
            <a href="#conta" class="w3-bar-item w3-button">TRANSPORTE MARÍTIMO</a>
            <a href="#conta" class="w3-bar-item w3-button">AGENCIAMIENTO ADUANERO</a>
          </div>
      </div>
      <a href="{% url 'pqrs' %}" class="w3-bar-item w3-button w3-hide-small" style = "padding: 1em;"> <b>PQRS</b></a>
      <div class="w3-dropdown-hover w3-hide-small">
        <a href="{% url 'team' %}" class="w3-button w3-hide-small w3-button" style = "padding: 1em;"><b>DEPARTAMENTOS</b> <i class="fa fa-caret-down"></i></a>     
          <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <a href="#imports" class="w3-bar-item w3-button" >IMPORTACIÓN</a>
            <a href="#exports" class="w3-bar-item w3-button">EXPORTACIÓN</a>
            <a href="#conta" class="w3-bar-item w3-button">CONTABILIDAD</a>
          </div>
      </div>
    
    <a href="{% url 'tracking' %}" class="w3-bar-item w3-button w3-hide-small" style = "padding: 1em;"> <b>RASTREO DE PAQUETES</b></a>
    </div>
  </div>
</div>



  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
    <a href="#about" class="w3-bar-item w3-button" onclick="toggleFunction()">QUIENES SOMOS</a>
    <a href="#oficinas" class="w3-bar-item w3-button" onclick="toggleFunction()">OFICINAS</a>
    <a href="#pqr" class="w3-bar-item w3-button" onclick="toggleFunction()">PQRS</a>
    <a href="#equipo" class="w3-bar-item w3-button" onclick="toggleFunction()">NUESTRO EQUIPO</a>
    <a href="#tracking" class="w3-bar-item w3-button" onclick="toggleFunction()">RASTREO DE PAQUETES</a>
    <a href="#" class="w3-bar-item w3-button">SEARCH</a>
  </div>
</div>


<main>
<!-- First Parallax Image with Logo Text -->

<div class="bgimg-1 w3-display-container w3-opacity-min">
  <div class="w3-display-middle" >
    <span class="w3-center w3-padding-large w3-animate-opacity"><img src="{% static 'mainsite/images/Logo-white.png' %}" style="width:100%"></span>
  </div>
  <video autoplay loop id="vid" muted width="100%">
    <source src="{% static 'mainsite/videos/World.mp4' %}" type="video/mp4">
  </video>
</div>


<div class="w3-row-padding w3-grayscale" style="margin-top:64px">
  <h3 class="w3-center">Servicios</h3>
  <div class="w3-col l3 m6 w3-margin-bottom">
    
    <div class="w3-card" style ="height:560px">
      
      <div class="w3-container">
        <img src="{% static 'mainsite/images/exports-dep.jpg' %}" style="width:100%">
        <h3>TRANSPORTE <br>AÉREO</h3>
        <p>Conectamos negocios alrededor del mundo con nuestro servicio aéreo de exportación e importación, asegurando envíos
           eficientes y rápidos para un comercio global sin complicaciones.</p>
        <p><a href="{% url 'services' %}" class="w3-button w3-light-grey w3-block">Más información</a></p>
      </div>
    </div>
  </div>
  <div class="w3-col l3 m6 w3-margin-bottom">
    <div class="w3-card" style ="height:560px">
      
      <div class="w3-container">
        <img src="{% static 'mainsite/images/trucks-background.jpg' %}" style="width:100%">
        <h3>TRANSPORTE <br>TERRESTRE</h3>
        
        <p>Optimizamos el comercio internacional con nuestro servicio terrestre de exportación e importación, brindando 
          soluciones logísticas eficientes y seguras para conectar mercados y empresas</p>
        <p><a href="{% url 'services' %}" class="w3-button w3-light-grey w3-block">Más información</a></p>
      </div>
    </div>
  </div>
  <div class="w3-col l3 m6 w3-margin-bottom">
    <div class="w3-card" style ="height:560px">
      
      <div class="w3-container">
        <img src="{% static 'mainsite/images/ship-background.jpg' %}" style="width:100%">
        <h3><br>TRANSPORTE <br>MARÍTIMO</h3>
        
        <p>Facilitamos el intercambio global con nuestro servicio marítimo de exportación e importación, ofreciendo soluciones
           logísticas confiables para conectar mercados y optimizar la cadena de suministro</p>
        <p><a href="{% url 'services' %}" class="w3-button w3-light-grey w3-block">Más información</a></p>
      </div>
    </div>
  </div>
  <div class="w3-col l3 m6 w3-margin-bottom">
    <div class="w3-card" style ="height:560px">
      
      <div class="w3-container">
        <img src="{% static 'mainsite/images/services2.jpg' %}" style="width:100%">
        <h3>AGENCIAMIENTO ADUANERO
          </h3>
          
        <p>Nos caracterizamos por agilizar el flujo internacional de mercancías con nuestro servicio de agenciamiento aduanero, garantizando una
           gestión eficiente y sin complicaciones en los trámites.</p>
           
        <p><a href="{% url 'services' %}" class="w3-button w3-light-grey w3-block">Más información</a></p>
      </div>
    </div>
  </div>
</div>

    
<div class="w3-content w3-container w3-padding-64" id="about">
  <h3 class="w3-center">¿Por qué elegirnos?</h3>

  <p>Transportamos su mercancía con confianza y cumplimiento, comprometidos con sus necesidades.
    Nuestra dedicación a la puntualidad y la seguridad garantiza la entrega de sus productos en óptimas
    condiciones y en el plazo acordado. Además, nuestro equipo altamente capacitado se esfuerza por
    ofrecer un servicio excepcional, brindando tranquilidad y eficiencia en cada paso del proceso de
    transporte.</p>
    
    <ul class="w3-ul ">
      <li class="w3-bar">
        <img src="{% static 'mainsite/images/XqEleg1.jpg' %}" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
        <div class="w3-bar-item">
          <span>Trabajamos de
            forma eficiente
            </span>
        </div>
      </li>
      <li class="w3-bar">
        <img src="{% static 'mainsite/images/XqEleg2.jpg' %}" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
        <div class="w3-bar-item">
          <span>Tenemos un
            excelente equipo de
            trabajo adaptado a
            las necesidades de la
            carga de los clientes</span>
        </div>
      </li>
      <li class="w3-bar">
        <img src="{% static 'mainsite/images/XqEleg3.jpg' %}" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
        <div class="w3-bar-item">
          <span>Creamos
            soluciones
            logísticas</span>
        </div>
      </li>
      <li class="w3-bar">
        <img src="{% static 'mainsite/images/XqEleg4.jpg' %}" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
        <div class="w3-bar-item">
          <span>Actuamos de
            forma urgente y
            estamos abiertos
            al cambio
            </span>
        </div>
      </li>
      <li class="w3-bar">
        <img src="{% static 'mainsite/images/XqEleg5.jpg' %}" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
        <div class="w3-bar-item">
          <span>Administramos y
            vigilamos a nivel
            nacional e
            internacional las
            cargas
            “Puerta-Puerta”
            a tiempo
            </span>
        </div>
      </li>
    </ul>


  
  
</div>

<div class="w3-row w3-center w3-dark-grey w3-padding-16">
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">+100</span><br>
    Clientes satisfechos
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">+100</span><br>
    Importaciones
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">+100</span><br>
    Exportaciones
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">+100</span><br>
    Servicios Aduaneros
  </div>
</div>

<!-- Second Parallax Image with Portfolio Text -->
<div class="bgimg-2 w3-display-container w3-opacity-min">
  <div class="w3-display-middle">
    <span class="w3-xxlarge w3-text-white w3-wide">CLIENTES</span>
  </div>
</div>

<!-- Container (Portfolio Section) -->
<div class="w3-content w3-container w3-padding-64" id="portfolio">
  
  <p class="w3-center"><em>Como es de saber, quienes respaldan nuestro trabajo son nuestros
    clientes, es por esto que nos esforzamos en dar nuestra mejor
    atención. Estas son empresas consolidadas a nivel internacional que
    nos otorgaron la oportunidad de manejar su mercancía a nivel
    internacional en importaciones y exportaciones:</em></p><br>

  <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
  <div class="w3-row-padding w3-center">
  
  </div>
</div>

<!-- Third Parallax Image with Portfolio Text -->
<div class="bgimg-3 w3-display-container w3-opacity-min">
  <div class="w3-display-middle">
     <span class="w3-xxlarge w3-text-white w3-wide">CERTIFICACIONES</span>
  </div>
</div>

<!-- Container (Contact Section) -->
<div class="w3-content w3-container w3-padding-64" id="contact">
  <p class="w3-center"><em>Nos enorgullecemos de anunciar que hemos obtenido certificaciones de renombre que validan nuestro compromiso con la excelencia. Nuestro equipo está dedicado a garantizar la eficiencia, precisión y seguridad en cada etapa del proceso. 
    Estas certificaciones, otorgadas por organismos reconocidos a nivel internacional, son un testimonio de nuestro compromiso inquebrantable con la calidad. Al elegirnos como su socio logístico, puede tener la certeza de que su carga está en las manos más capaces y confiables,
     respaldada por certificaciones que demuestran nuestra adhesión a los más altos estándares de la industria.</em></p><br>
</div>

<div class="">
  <img src="{% static 'mainsite/images/Certificaciones.jpg' %}" style="width:50%" >
</div>



<!-- Footer -->
<footer>
  <div class="footer">
  <div class="row">
  <a href="#"><i class="fa fa-facebook"></i></a>
  <a href="#"><i class="fa fa-instagram"></i></a>
  <a href="#"><i class="fa fa-youtube"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  </div>
  
  <div class="row">
  <ul>
  <li><a href="{% url 'pqrs' %}">Contactenos</a></li>
  <li><a href="{% url 'services' %}">Servicios</a></li>
  <li><a href="#">Política de Privacidad </a></li>
  <li><a href="{% url 'tracking' %}">Rastreo</a></li>
  </ul>
  </div>
  
  <div class="row">
  EUROCARGA © 2023  - Todos los derechos reservados
  </div>
  </div>
</footer>
 <!-- SCRIPTS -->
  
<script src="{% static 'mainsite/js/javs.js' %}"></script>


</main>
</body>
</html>