<!DOCTYPE html>
<html>
{% load static %}
<head>
<title>EuroCarga - Servicios</title>
<link rel="icon" type="image/x-icon" href="{% static 'mainsite/images/favicon.ico' %}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="{% static 'mainsite/css/styles.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>

body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 15px;
}

/* Create a Parallax Effect */
.parall-1,.parall-2,.parall-3,.parall-4,.parall-5,.parall-6 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Parallax Images */
.parall-1 {
  background-image: url("{% static 'mainsite/images/services.jpg' %}");
  min-height: 400px;
}
.parall-2 {
  background-image: url("{% static 'mainsite/images/exports-dep.jpg' %}");
  min-height: 400px;
}
.parall-3 {
  background-image: url("{% static 'mainsite/images/ship-background.jpg' %}");
  min-height: 400px;
}
.parall-4 {
  background-image: url("{% static 'mainsite/images/trucks-background.jpg' %}");
  min-height: 400px;
}
.parall-5 {
  background-image: url("{% static 'mainsite/images/services.jpg' %}");
  min-height: 400px;
}
.parall-6 {
  background-image: url("{% static 'mainsite/images/ship-background.jpg' %}");
  min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}


</style>
</head>
<body style="background-color:#FFFFFF">


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <a href="https://api.whatsapp.com/send?phone=573227381279&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n." class="float" target="_blank">
  <i class="fa fa-whatsapp my-float"></i>
  </a>


<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar" id="myNavbar" style="text-align: center;">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu" id="myNavbar" style="text-align: center;"></a>
      
    <a href="#" class="w3-bar-item w3-button"><img src = "{% static 'mainsite/images/logo-noback.png' %}" width="100  " style="opacity:0;" id="toplogo" /></a>
    <div id="menu" style="color:white">
      <a href="" class="w3-bar-item " style = "padding-right: 9em"> </a>
      <a href="{% url 'index' %}" class="w3-bar-item w3-button underline-on-hover" style = "padding: 1em;"><b>HOME</b></a>
      <a href="{% url 'about' %}" class="w3-bar-item w3-button w3-hide-small underline-on-hover" style = "padding: 1em;"> <b>QUIENES SOMOS</b></a>
      <a href="#oficinas" class="w3-bar-item w3-button w3-hide-small underline-on-hover" style = "padding: 1em;"> <b>OFICINAS</b></a>
      
      <div class="w3-dropdown-hover w3-hide-small">
        <a href="{% url 'services' %}" class="w3-button w3-hide-small w3-button underline-on-hover" style = "padding: 1em;"><b>SERVICIOS</b> <i class="fa fa-caret-down"></i></a>     
          <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-round-large">
            <a href="#imports" class="w3-bar-item w3-button w3-round-large underline-on-hover" >TRANSPORTE AÉREO</a>
            <a href="#exports" class="w3-bar-item w3-button underline-on-hover">TRANSPORTE TERRESTRE</a>
            <a href="#conta" class="w3-bar-item w3-button underline-on-hover">TRANSPORTE MARÍTIMO</a>
            <a href="#conta" class="w3-bar-item w3-button w3-round-large underline-on-hover">AGENCIAMIENTO ADUANERO</a>
          </div>
      </div>
      <a href="{% url 'pqrs' %}" class="w3-bar-item w3-button w3-hide-small underline-on-hover" style = "padding: 1em;"> <b>PQRS</b></a>
      
      <div class="w3-dropdown-hover w3-hide-small">
        <a href="{% url 'team' %}" class="w3-button w3-hide-small w3-button underline-on-hover" style = "padding: 1em;"><b>DEPARTAMENTOS</b> <i class="fa fa-caret-down"></i></a>     
          <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-round-large">
            <a href="#imports" class="w3-bar-item w3-button w3-round-large underline-on-hover" >IMPORTACIÓN</a>
            <a href="#exports" class="w3-bar-item w3-button underline-on-hover">EXPORTACIÓN</a>
            <a href="#conta" class="w3-bar-item w3-button w3-round-large underline-on-hover">CONTABILIDAD</a>
          </div>
      </div>
    </div>
  </div>
</div>


  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
    <a href="#about" class="w3-bar-item w3-button" onclick="toggleFunction()">QUIENES SOMOS</a>
    <a href="#oficinas" class="w3-bar-item w3-button" onclick="toggleFunction()">OFICINAS</a>
    <a href="#pqr" class="w3-bar-item w3-button" onclick="toggleFunction()">PQRS</a>
    <a href="#equipo" class="w3-bar-item w3-button" onclick="toggleFunction()">NUESTRO EQUIPO</a>
    <a href="#tracking" class="w3-bar-item w3-button" onclick="toggleFunction()">RASTREO DE PAQUETES</a>
    <a href="#" class="w3-bar-item w3-button">SEARCH</a>
  </div>
</div>


<main>


<!-- First Parallax Image with Logo Text -->
<div class="parall-1 w3-display-container w3-opacity-min" id="home">
  <div class="w3-display-middle">
      <span class="w3-xxlarge w3-text-white w3-wide">Servicios</span>
      <span class="w3-xlarge w3-text-white w3-wide"><br>Conectando destinos, entregando promesas.</span>
    </div>
</div>


<div class="header w3-row-padding w3-white w3-padding-64 w3-container">
  <div class="w3-content">
      <div class="w3-center">
          <h5 class="w3-padding-32">Garantizamos excelentes servicios y tarifas para el
            transporte en la movilización de su mercancía, destinada
            a salvaguardar su carga internacional</h5>
      </div>
  </div>
</div>

<!-- Second Parallax Image with Portfolio Text -->
<div class="parall-2 w3-display-container w3-opacity-min" id="transaereo">
  <div class="w3-display-middle">
    <span class="w3-xxlarge w3-text-white w3-wide">TRANSPORTE AÉREO</span>
  </div>
</div>

<div class="w3-content w3-container w3-padding-64" >
  

  <p>Rapidez y agilidad para la entrega de cargas, trabajamos desde la experiencia y le damos valor
    agregado desde el conocimiento en documentos y procedimientos.
    Con EUROCARGA sus mercancías viajarán en 1° clase, desde su recolección hasta su entrega,
    sin importar el tamaño, tipo o valor de la carga, siempre se evaluará y se recomendarán las
    mejores opciones para que vuele seguro.
  </p>

    
  <div class="row">
    <div class="column">
      <div class="w3-container">
        <h5 class=""><b>RELACIONES</b></h5>
        <p>Conexiones con las aerolíneas y su cadena
          profesional</p>
        <hr>
      </div>

      <div class="w3-container">
        <h5 class=""><b>ASISTENCIA</b></h5>
        <p>Servicios de embalaje y de documentación.</p>
        <hr>
      </div>

      <div class="w3-container">
        <h5 class=""><b>COMUNICACIÓN</b></h5>
        <p>Información de su carga en tiempo real </p><br>
      </div>
    </div>

    <div class="column">
      <div class="w3-container">
        <h5 class=""><b>CERTIFICADOS</b></h5>
        <p>Altamente calificados y certificados ante la
          IATA</p>
        <hr>
      </div>

      <div class="w3-container">
        <h5 class=""><b>OPERACIONES</b></h5>
        <p>Servicio puerta a puerta</p>
        <hr>
      </div>

      <div class="w3-container">
        <h5 class=""><b>TRÁMITES</b></h5>
        <p>Procesos de aduanas en origen y destino</p>
        <hr>
      </div>
    </div>
  </div>
</div>
<div class="w3-content" >
  <p></p>
</div>

<!-- Third Parallax Image with Portfolio Text -->
<div class="parall-3 w3-display-container w3-opacity-min" id="conta">
  <div class="w3-display-middle">
     <span class="w3-xxlarge w3-text-white w3-wide">TRANSPORTE MARÍTIMO</span>
  </div>
</div>


<div class="w3-content w3-container w3-padding-64" >
  

  <p>A nivel internacional, gracias a su red de cobertura entre aliados estratégicos, nuestras
  excelentes relaciones con las navieras nos permiten ofrecer a nuestros clientes respaldo y
  cumplimiento; además en EUROCARGA hay un gran equipo humano, dotado de experiencia
  en procesos marítimos que de acuerdo a las necesidades tanto en importación como en
  exportación y triangulaciones aportarán las soluciones más confiables</p>


  <div class="row">
    <div class="column">

      <div class="w3-container">
        <p>FCL/LCL</p>
      </div>

      <div class="w3-container">
        <p> Carga pesada/sobredimensionada</p>
      </div>

      <div class="w3-container">
        <p>Carga perecedera /refrigerada</p>
      </div>

      <div class="w3-container">
        <p>Cobertura internacional</p>
      </div>

    </div>

    <div class="column">
      <div class="w3-container">
        <p> Carga RO/RO Carga rodante</p>
      </div>

      <div class="w3-container">
        <p>Proyectos especiales</p>
      </div>
      <div class="w3-container">
        <p>Bodegas de almacenamiento</p>
      </div>
    </div>
    
  </div>
</div>

<div class="w3-content" >
<p></p>
</div>


    <!-- Fourth Parallax Image with Portfolio Text -->
<div class="parall-4 w3-display-container w3-opacity-min" id="conta">
  <div class="w3-display-middle">
     <span class="w3-xxlarge w3-text-white w3-wide">TRANSPORTE TERRESTRE</span>
  </div>
</div>

<div class="w3-content w3-container w3-padding-64" >
  

  <p>El terrestre se ha convertido en la solución a cualquier necesidad de
    conexión local, regional y nacional más utilizada</p>

    <p>Contamos con excelentes proveedores desde su lugar de origen para la recolección,
    hasta entrega final.</p>


</div>     



<!-- Fifth Parallax Image with Portfolio Text -->
<div class="parall-5 w3-display-container w3-opacity-min" id="conta">
  <div class="w3-display-middle">
     <span class="w3-xxlarge w3-text-white w3-wide">OTROS SERVICIOS</span>
  </div>
</div>

<div class="w3-content w3-container w3-padding-64" >

  <ul class="w3-ul w3-center">
    <li><b>Agenciamiento Aduanero </b>: Simplificamos los trámites aduaneros, asegurando que tus envíos cumplan con todas las 
      regulaciones y normativas para una importación y exportación sin complicaciones.</li>
    <li><b>Transporte multimodal OTM</b>: Manejamos envíos fuera de lo común con profesionalismo y cuidado, garantizando la entrega segura de mercancías voluminosas, pesadas o de alto valor.</li>
    <li><b>Seguro internacional</b> : Protegemos tus envíos con opciones de seguro internacional, brindándote tranquilidad y seguridad en cada fase del transporte.</li>
    <li><b>Courier internacional</b> : Conectamos continentes con nuestro servicio de Courier Internacional. Con un enfoque rápido y seguro, aseguramos que tus documentos y paquetes lleguen a cualquier rincón del mundo. Simplificamos el proceso de envío para que puedas confiar en nosotros para entregas ágiles y eficientes. En Eurocarga, cada paquete es una promesa de conexión global sin complicaciones. ¡Descubre cómo hacemos que tus envíos internacionales sean más simples y rápidos que nunca!</li>
  </ul>
    
</div> 






<!-- Footer -->
<footer>
  <div class="footer">
  <div class="row">
  <a href="#"><i class="fa fa-facebook"></i></a>
  <a href="#"><i class="fa fa-instagram"></i></a>
  <a href="#"><i class="fa fa-youtube"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  </div>
  
  <div class="row">
  <ul>
  <li><a href="{% url 'pqrs' %}">Contactenos</a></li>
  <li><a href="{% url 'services' %}">Servicios</a></li>
  <li><a href="#">Política de Privacidad </a></li>
  <li><a href="{% url 'tracking' %}">Rastreo</a></li>
  </ul>
  </div>
  
  <div class="row">
  EUROCARGA © 2023  - Todos los derechos reservados
  </div>
  </div>
</footer>
 <!-- SCRIPTS -->
  
<script src="{% static 'mainsite/js/javs.js' %}"></script>


</main>
</body>
</html>